*{
    font-family: 'Kavivanar', cursive;
}
.navbar{
    margin-bottom: 0;
    height: 0;
    min-height: auto;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-family: serif;
    font-size: 30px;

}
.navbar-default .navbar-brand span{
    color: #e74c3c;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #e74c3c;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #e74c3c;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-right .dropdown-menu {
    right: auto;
    min-width: 200px;
    border-top: 2px solid #e74c3c;
    background-color: #3498db;
    left: 0;
}

.navbar-right .dropdown-menu a{
    color: #fff;
    transition: padding 0.5s ease;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #e74c3c;
    padding-left: 30px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3498db;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
    }
}


.scrolled{
    height: auto;
    min-height: 50px;
    background-attachment: scroll;
    background-color: #3498db;
    border: none
}


.header{
    background-image: url(../img/Header.jpeg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 85vh;
}
.header .header-text {
    color: #fff;
    padding: 25vh;
}
.header .header-text h1{
    font-size: 60px;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 5px;
}
.header .header-text h1 span{
    color: #e74c3c;

}
@media (max-width:768px){
    .header{
        height: 60vh;
    }
    .header .header-text h1 {
        font-size: 30px
    }
    .header .header-text p {
        font-size: 16px
    }
    .header .header-text {
        padding: 10vh
    }
}




/* Start Subscribe */
.search{
    font-family: initial;
    background-color: #34495e;
    padding-bottom: 25px;
}

.search h2{
    font-size: 25px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
}
.search .web-search button{
    border-radius: 0;
    
}
.search .form-control{
    border-radius: 0;   
    margin-right: -4px;
    
}


@media (max-width:768px){
    .search .web-search button{
        margin-top: 10px
    }
}
/* End Subscribe */

.venue-popular{
    background-color: #fff;
    font-family: initial;

}
.venue-popular .venue-popular-one{
    margin: 10px 0 25px 0;
}
.venue-popular .venue-popular-one h3{
    color: #3498db;
}

.venue-popular .popular h4{
    font-size: 16px;
    color: #34495e;
}


.venue-popular .popular p{
    font-size: 12px;
}





.lost-and-found{
    position: relative;
    color: #3498db;
    padding: 25px 0;
    background-color: #34495e;
}
.lost-and-found p{
    display: inline;
    padding-left: 40px;

}
.lost-and-found .lost-and-found-list button{
    border-radius: 0;
    
}
.lost-and-found .form-control{
    border-radius: 0;   
    margin-right: -4px;
    
}

.lost-and-found select{
    height: 35px;
}

.lost-and-found input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: absolute;
    top: 3px;
}



@media (max-width:768px){
    .lost-and-found .lost-and-found-list button{
        margin-top: 10px
    }
    .lost-and-found input[type="checkbox"]{
        top: 47px;
    }
    .lost-and-found select{
        margin-bottom: 10px;
    }
    
}





.report{
    padding: 40px 0;
    
}
.report h3{
    margin-bottom: 20px;
    font-weight: bold;
}
.report .one{
    color: #e74c3c;
}
.report .two{
    color: #2ecc71;
}

.report img{
    cursor: pointer;
}








.footer{
    padding: 40px 0 10px 0; 
    color: #fff;
    background-color: #34495e;
}

.footer .footer-page{
    margin-bottom: 20px;
}
.footer label{
    display: block;
}
.footer input{
    display: block;
    margin: 10px 0;
}

.footer .form-control{
    border-radius: 0;
    width: 100%;
    
}

.footer button{
    border-radius: 0;
    width: 100%;
}
.footer .p-one{
    margin: 40px 0;
    width: 100%;
}
.footer i{
    color: #fff;
    margin: 0 7px;
}
.footer .p-two {
    margin-left: 40px;
}


.footer .text-media{
    margin: 10px 0;
}

.footer .a-statistics{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}






















