*{font-family: 'Kavivanar', cursive;}
body{background-color: #e7e7e7;}
.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    z-index: 2;
    background-color: #24243c;
}
.navbar-default .navbar-brand {color: #fff;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{color: #2ecc71;}
.navbar-default .navbar-nav > li > a {color: #fff;}
.navbar-default .navbar-nav > li > a:focus {color: #2ecc71;}
.navbar-default .navbar-nav > li:hover > a {color: #2ecc71;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-toggle {border-color: #fff;}
@media (max-width: 767px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background-color: #2ecc71;
    }
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
/*--------------------------------------------------------------------------------------------------*/
.choose-answer{
    position: relative;
}
.choose-answer .choose-answer-mosab2at,.choose-answer .slid{
    padding: 10px;
    margin-top: 15px;
    background-color: #FFF;
    height: 575px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .5;
    transition: all .3s linear;
}
.choose-answer .choose-answer-mosab2at:hover,
.choose-answer .slid:hover{opacity: 1;}
.choose-answer .choose-answer-mosab2at h3{
    text-align: center;
    color: #24243c;
    padding: 5px;
    padding-right: 20px;
    background-color: #e7e7e7;
}
.choose-answer .choose-answer-mosab2at .answer{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.choose-answer .choose-answer-mosab2at .answer span{
    font-size: 25px;
    font-weight: bold;
    color: #1abc9c;
}
.choose-answer .choose-answer-mosab2at .answer .progress{
    margin-top: 20px
}
.choose-answer .choose-answer-mosab2at .answer a{
    font-size: 25px;
    color: #fff;
    border-radius: 0;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
 .choose-answer .choose-answer-mosab2at .answer .containue a{
    color: #fff;
    border-radius: 0;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}
.choose-answer .choose-answer-mosab2at .adds{
    margin: auto;
    overflow: hidden;
    width: 80%;
    text-align: center;
    margin-top: 50px;
}
.choose-answer .choose-answer-mosab2at .ads{
    overflow: hidden;
    height: 230px;
}

.choose-answer .choose-answer-mosab2at .copyright{
    margin: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,850%);
}
.choose-answer .choose-answer-mosab2at .copyright a {
    text-decoration: none;
    color: #2ecc71;
}
@media (max-width: 991px){
    .choose-answer .choose-answer-mosab2at .copyright {
        transform: translate(-50%,490%);
    }
}
@media (max-width: 767px){
    .choose-answer .choose-answer-mosab2at .copyright {
        transform: translate(-50%,850%);
    }
}
@media (max-width: 492px){
    .choose-answer .choose-answer-mosab2at .copyright {
        top: 20%;
    }
}
.choose-answer .slid h3{
    text-align: right;
    color: #24243c;
    padding: 5px;
    padding-right: 20px;
    background-color: #e7e7e7;
}
.choose-answer .slid .one{
    overflow: hidden;
    height: 255px;
}